.App {
  background-color: black;
  font-weight: 600;
  font-size: calc(12px);
  text-align: center;
  min-height: 100vh;
  display: "flex";
}

.App-header {
  background-color: black;
  min-height: 20vh;
}

.App-link {
  color: black;
}
